body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  height: 100vh;
  overflow: hidden;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game-card {
  background: rgba(0, 0, 0, 0.85);
  width: 900px;
  padding: 40px;
  border-radius: 20px;
  color: white;
  box-shadow: 0 0 40px cyan;
  text-align: center;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 18px;
}

.question {
  background: #111;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  white-space: pre-wrap;
}

.options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-top: 20px;
}

.options button {
  padding: 12px;
  background: cyan;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.options button:hover {
  transform: scale(1.05);
  background: #00ffffaa;
}

.hint-btn {
  margin-top: 20px;
  padding: 8px 15px;
  background: orange;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.hint-text {
  margin-top: 10px;
  color: yellow;
}